@{
    ViewData["Title"] = "Shop";
}
<h1>@ViewData["Title"]</h1>

<!--External JS-->
<script src="~/js/script.js" async></script>

<!--Product Cards-->
<section id="product-cards">
    <div class="container-fluid">
        <div class="row row-cols-2 row-cols-md-4 g-4">
            <div class=" col filter-item all new ">
                <div class="card h-100">
                    <img src="~/images/ali-moharami.jpg" class="card-img-top shop-item-image" alt="Black Pontiac Trans Am">
                    <div class="card-body">
                        <h5 class="card-title shop-item-title"> 1977 Pontiac Trans Am </h5>
                        <p class="card-text shop-item-price"> $ 35000</p>
                        <button type="button" style="width: 100%;" class="btn btn-warning mt-auto shop-item-button"><i class="fa-solid fa-cart-shopping " style="margin-right: 4%;"></i>Add To Cart</button>
                    </div>
                </div>
            </div>

            <div class=" col filter-item all new">
                <div class="card h-100">
                    <img src="~/images/ali-moharami2.jpg" class="card-img-top shop-item-image" alt="Black and Gold Pontiac Trans Am">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title shop-item-title">1978 Pontiac Trans Am </h5>
                        <p class="card-text shop-item-price"> $ 40000</p>
                        <button type="button" style="width: 100%;" class="btn btn-warning mt-auto shop-item-button"><i class="fa-solid fa-cart-shopping " style="margin-right: 4%;"></i>Add To Cart</button>
                    </div>
                </div>
            </div>

            <div class=" col filter-item all new">
                <div class="card h-100">
                    <img src="~/images/ian-macdonald.jpg" class="card-img-top shop-item-image" alt="...">
                    <div class="card-body">
                        <h5 class="card-title shop-item-title"> 1965 Ford Mustang </h5>
                        <p class="card-text shop-item-price"> $ 45000</p>
                        <button type="button" style="width: 100%;" class="btn btn-warning mt-auto shop-item-button"><i class="fa-solid fa-cart-shopping " style="margin-right: 4%;"></i>Add To Cart</button>
                    </div>
                </div>
            </div>

            <div class=" col filter-item all t-shirts">
                <div class="card h-100">
                    <img src="~/images/tyler-clemmensen.jpg" class="card-img-top shop-item-image" alt="...">
                    <div class="card-body">
                        <h5 class="card-title shop-item-title"> 1971 Ford Mustang </h5>
                        <p class="card-text shop-item-price">$ 50000</p>
                        <button type="button" style="width: 100%;" class="btn btn-warning mt-auto shop-item-button"><i class="fa-solid fa-cart-shopping " style="margin-right: 4%;"></i>Add To Cart</button>
                    </div>
                </div>
            </div>

            <div class=" col filter-item all office-wear ">
                <div class="card h-100">
                    <img src="~/images/michael-tiedtke.jpg" class="card-img-top shop-item-image" alt="...">
                    <div class="card-body">
                        <h5 class="card-title shop-item-title"> 1993 Lamborghini Diablo </h5>
                        <p class="card-text shop-item-price"> $ 85000</p>
                        <button type="button" style="width: 100%;" class="btn btn-warning mt-auto shop-item-button"><i class="fa-solid fa-cart-shopping " style="margin-right: 4%;"></i>Add To Cart</button>
                    </div>
                </div>
            </div>

            <div class=" col filter-item all office-wear">
                <div class="card h-100">
                    <img src="~/images/hoyoun-lee.jpg" class="card-img-top shop-item-image" alt="...">
                    <div class="card-body">
                        <h5 class="card-title shop-item-title">1992 Lamborghini Diablo </h5>
                        <p class="card-text shop-item-price">$ 89000</p>
                        <button type="button" style="width: 100%;" class="btn btn-warning mt-auto shop-item-button"><i class="fa-solid fa-cart-shopping " style="margin-right: 4%;"></i>Add To Cart</button>
                    </div>
                </div>
            </div>

            <div class=" col filter-item all office-wear">
                <div class="card h-100">
                    <img src="~/images/yuvraj-singh.jpg" class="card-img-top shop-item-image" alt="...">
                    <div class="card-body">
                        <h5 class="card-title shop-item-title">1991 Lamborghini Diablo </h5>
                        <p class="card-text shop-item-price">$ 90000</p>
                        <button type="button" style="width: 100%;" class="btn btn-warning mt-auto shop-item-button"><i class="fa-solid fa-cart-shopping " style="margin-right: 4%;"></i>Add To Cart</button>
                    </div>
                </div>
            </div>

            <div class=" col filter-item all office-wear">
                <div class="card h-100">
                    <img src="~/images/maxence-pion.jpg" class="card-img-top shop-item-image" alt="...">
                    <div class="card-body">
                        <h5 class="card-title shop-item-title"> 1990 Lamborghini Diablo </h5>
                        <p class="card-text shop-item-price">$ 84000</p>
                        <button type="button" style="width: 100%;" class="btn btn-warning mt-auto shop-item-button"><i class="fa-solid fa-cart-shopping " style="margin-right: 4%;"></i>Add To Cart</button>
                    </div>
                </div>
            </div>

            <div class=" col filter-item all t-shirts">
                <div class="card h-100">
                    <img src="~/images/reinhart-julian.jpg" class="card-img-top shop-item-image" alt="...">
                    <div class="card-body">
                        <h5 class="card-title shop-item-title"> 2015 Lamborghini Huracan</h5>
                        <p class="card-text shop-item-price">$ 92000</p>
                        <button type="button" style="width: 100%;" class="btn btn-warning mt-auto shop-item-button"><i class="fa-solid fa-cart-shopping " style="margin-right: 4%;"></i>Add To Cart</button>
                    </div>
                </div>
            </div>

            <div class=" col filter-item all t-shirts">
                <div class="card h-100">
                    <img src="~/images/joppe-spaa.jpg" class="card-img-top shop-item-image" alt="...">
                    <div class="card-body">
                        <h5 class="card-title shop-item-title">1968 Chevrolet Corvette</h5>
                        <p class="card-text shop-item-price">$ 45000</p>
                        <button type="button" style="width: 100%;" class="btn btn-warning mt-auto shop-item-button"><i class="fa-solid fa-cart-shopping " style="margin-right: 4%;"></i>Add To Cart</button>
                    </div>
                </div>
            </div>

            <div class=" col filter-item all t-shirts">
                <div class="card h-100">
                    <img src="~/images/frank-albrecht.jpg" class="card-img-top shop-item-image" alt="...">
                    <div class="card-body">
                        <h5 class="card-title shop-item-title"> 1969 Mercedes-Benz 300 SEL</h5>
                        <p class="card-text shop-item-price">$ 45000</p>
                        <button type="button" style="width: 100%;" class="btn btn-warning mt-auto shop-item-button"><i class="fa-solid fa-cart-shopping " style="margin-right: 4%;"></i>Add To Cart</button>
                    </div>
                </div>
            </div>             

            <div class=" col filter-item all t-shirts">
                <div class="card h-100">
                    <img src="~/images/oli-woodman.jpg" class="card-img-top shop-item-image" alt="...">
                    <div class="card-body">
                        <h5 class="card-title shop-item-title"> 1992 Jaguar XJS </h5>
                        <p class="card-text shop-item-price">$ 40000</p>
                        <button type="button" style="width: 100%;" class="btn btn-warning mt-auto shop-item-button"><i class="fa-solid fa-cart-shopping " style="margin-right: 4%;"></i>Add To Cart</button>
                    </div>
                </div>
            </div>

            <div class=" col filter-item all new">
                <div class="card h-100">
                    <img src="~/images/hermes-rivera.jpg" class="card-img-top shop-item-image " alt="...">
                    <div class="card-body">
                        <h5 class="card-title shop-item-title"> 1960 Cadillac Eldorado </h5>
                        <p class="card-text shop-item-price"> $ 42000</p>
                        <button type="button" style="width: 100%;" class="btn btn-warning mt-auto shop-item-button"><i class="fa-solid fa-cart-shopping " style="margin-right: 4%;"></i>Add To Cart</button>
                    </div>
                </div>
            </div>

            <div class=" col filter-item all t-shirts">
                <div class="card h-100">
                    <img src="~/images/noah-boyer.jpg" class="card-img-top shop-item-image" alt="...">
                    <div class="card-body">
                        <h5 class="card-title shop-item-title">1959 Cadillac Eldorado</h5>
                        <p class="card-text shop-item-price">$ 45000</p>
                        <button type="button" style="width: 100%;" class="btn btn-warning mt-auto shop-item-button"><i class="fa-solid fa-cart-shopping " style="margin-right: 4%;"></i>Add To Cart</button>
                    </div>
                </div>
            </div>

            <div class=" col filter-item all t-shirts">
                <div class="card h-100">
                    <img src="~/images/jorg-buntrock.jpg" class="card-img-top shop-item-image" alt="...">
                    <div class="card-body">
                        <h5 class="card-title shop-item-title"> 1957 Cadillac Eldorado </h5>
                        <p class="card-text shop-item-price">$ 38000</p>
                        <button type="button" style="width: 100%;" class="btn btn-warning mt-auto shop-item-button"><i class="fa-solid fa-cart-shopping " style="margin-right: 4%;"></i>Add To Cart</button>
                    </div>
                </div>
            </div>

            <div class=" col filter-item all t-shirts">
                <div class="card h-100">
                    <img src="~/images/jared-murray.jpg" class="card-img-top shop-item-image" alt="...">
                    <div class="card-body">
                        <h5 class="card-title shop-item-title"> 1977 Chevrolet Caprice </h5>
                        <p class="card-text shop-item-price">$ 30000</p>
                        <button type="button" style="width: 100%;" class="btn btn-warning mt-auto shop-item-button"><i class="fa-solid fa-cart-shopping " style="margin-right: 4%;"></i>Add To Cart</button>
                    </div>
                </div>
            </div>
            
            <div class=" col filter-item all new">
                <div class="card h-100">
                    <img src="~/images/doug-watanabe1.jpg" class="card-img-top shop-item-image " alt="...">
                    <div class="card-body">
                        <h5 class="card-title shop-item-title"> 1957 Chevrolet Bel Air </h5>
                        <p class="card-text shop-item-price"> $ 35000</p>
                        <button type="button" style="width: 100%;" class="btn btn-warning mt-auto shop-item-button"><i class="fa-solid fa-cart-shopping " style="margin-right: 4%;"></i>Add To Cart</button>
                    </div>
                </div>
            </div>

            <div class=" col filter-item all t-shirts">
                <div class="card h-100">
                    <img src="~/images/doug-watanabe2.jpg" class="card-img-top shop-item-image" alt="...">
                    <div class="card-body">
                        <h5 class="card-title shop-item-title">1958 Chevrolet Bel Air</h5>
                        <p class="card-text shop-item-price">$ 35000</p>
                        <button type="button" style="width: 100%;" class="btn btn-warning mt-auto shop-item-button"><i class="fa-solid fa-cart-shopping " style="margin-right: 4%;"></i>Add To Cart</button>
                    </div>
                </div>
            </div>

            <div class=" col filter-item all t-shirts">
                <div class="card h-100">
                    <img src="~/images/pavel-s.jpg" class="card-img-top shop-item-image" alt="...">
                    <div class="card-body">
                        <h5 class="card-title shop-item-title"> 1977 Lincoln Continental </h5>
                        <p class="card-text shop-item-price">$ 33000</p>
                        <button type="button" style="width: 100%;" class="btn btn-warning mt-auto shop-item-button"><i class="fa-solid fa-cart-shopping " style="margin-right: 4%;"></i>Add To Cart</button>
                    </div>
                </div>
            </div>

            <div class=" col filter-item all t-shirts">
                <div class="card h-100">
                    <img src="~/images/alexey-turenkov1.jpg" class="card-img-top shop-item-image" alt="...">
                    <div class="card-body">
                        <h5 class="card-title shop-item-title"> 1978 Lincoln Continental </h5>
                        <p class="card-text shop-item-price">$ 33000</p>
                        <button type="button" style="width: 100%;" class="btn btn-warning mt-auto shop-item-button"><i class="fa-solid fa-cart-shopping " style="margin-right: 4%;"></i>Add To Cart</button>
                    </div>
                </div>
            </div>

            <div class=" col filter-item all t-shirts">                
                <h3 style="text-decoration: underline;text-align: center; margin-bottom: 10%;"></h3>
            </div>            

        </div>
    </div>
</section>

<!--Shopping Cart-->
<section class="container content-section" id="shopping-cart">

    <h3 style="text-decoration: underline;text-align: center; margin-bottom: 7%;">Shopping Cart</h3>

    <table class="table table-hover table-cart">
        <thead>
            <tr>
                <th>Item</th>
                <th>Price</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody class="cart-items">
        </tbody>
    </table>

    <div class="cart-total">
        <strong class="cart-total-title">Total</strong>
        <span class="cart-total-price" style="text-align: right;">$0</span>
    </div>


    <div class="btn-purchase" style="margin-top: 10%;">
        <button type="button" class="btn btn-dark btn-purchase "><i class="fa-solid fa-cart-shopping " style="margin-right: 6%;"></i>Buy</button>
    </div>

</section>
